<footer class='custom-footer pb-3 mt-auto text-center'>
    <div class="container">
        <hr>
        <div class="row align-baseline">
            <div class="col-4">
                <!-- <img src="/icons/ThemeSaverLogo.png" alt="" width='25' height='25' class="d-inline-block align-text-center">       -->
                &copy; 2022 ThemeSaver
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <a href="https://github.com/techcoder20/themesaver" class='icons px-2'>
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://youtube.com/c/rpicoder" class='icons px-2'>
                    <i class="bi bi-youtube"></i>
                </a>
                <a href="https://dsc.gg/rpicoders" class='icons px-2'>
                    <i class="bi bi-discord"></i>
                </a>    
                <button type="button" class="icons" data-bs-toggle="modal" data-bs-target="#colorChanger">
                    <i class="bi bi-palette2"></i>
                  </button>     
            </div>            
        </div>
        
    </div>
</footer>

  <!-- Modal -->
  <div class="modal fade" id="colorChanger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="border: 0px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Pick Your Color Scheme</h5>
          <button type="button" class="btn btn-og me-2" data-bs-dismiss="modal" id="og-theme">OG</button>
          <button type="button" class="btn btn-nord me-2" data-bs-dismiss="modal" id="nord-theme">Nord</button>
          <button type="button" class="btn btn-dracula me-2" data-bs-dismiss="modal" id="dracula-theme">Dracula</button>
          <button type="button" class="btn btn-gruvbox me-2" data-bs-dismiss="modal" id="gruvbox-theme">Gruvbox</button>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <!-- <div class="modal-body">

        </div> -->
      </div>
    </div>
  </div>

<script src="/javascript/colorchanger.js"></script>