<nav class="navbar navbar-expand-lg navbar-dark sticky-top fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand logo " href="/" id="navbar-brand">
        <img src="/icons/ThemeSaverLogo.png" alt="" width='25' height='25' class="d-inline-block align-text-center themesaver-logo" id="ThemeSaverLogo-navbar">      
        ThemeSaver
    
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" id="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop" id="nav-link">Shop</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about" id="nav-link">About</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/install" id="nav-link">Install</a>
          </li>   
        </ul>
          <ul class='navbar-nav  mb-2 mb-lg-0'>
            <% if (!currentUser) { %>
              <li class="nav-item d-flex">
                <a class="nav-link active d-flex align-items-center" aria-current="page" href="/login" id="nav-link"><i class="bi bi-github pe-1"></i>  Login</a>
              </li>  
            <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= currentUser.username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/newRice" id="nav-link">New Rice</a></li>
                  <hr class="py-0">
                  <li><a class="dropdown-item" href="/logout" id="nav-link">Logout</a></li>
                </ul>
              </li>      
            <% } %>                  
          </ul>

      </div>
    </div>
  </nav>