<% layout('boilerplate.ejs') %>

<div class='container py-5'>
    <div class="row text-center">
        <div class="col-12">
            <h1 style='color: #F78914'>Created And Maintained By RPICoder</h1>
            <img src="/icons/RPICoder.png" alt="" class='pt-3 img-fluid'>
        </div>
    </div>

</div>