<% layout('boilerplate.ejs') %>
<div class='text-center'>
    <img src="/icons/ThemeSaverLogo.png" width='500' height='500' alt="" class="img-fluid align-center">
    <p align="center">
        <img src="https://img.shields.io/badge/Platform-GNU/Linux-orange?style=for-the-badge&logo=Linux">
      
        <img alt="GitHub top language" src="https://img.shields.io/github/languages/top/techcoder20/themesaver?logo=Python&style=for-the-badge">
      
      </p>
    <h5>An app to help you save, load and share your different linux rice </h2> 
</div>

<div class='container-fluid py-5'>
    <div class="row row-cols-md-3 row-cols-sm-1 row-cols-1">  
        <div class="mb-4 col">
            <div class="card h-100 card-homepage" >
                <div class="card-body">
                <h5 class="card-title-homepage">What Is A Linux Rice ?</h5>
                    The term 'rice' is used to describe a person's unix desktop where someone has customized their desktop such as the icons, panels, or system interface. A great place to find different linux rice is the <a href="https://www.reddit.com/r/unixporn">r/unixporn</a> subreddit.       
                </div>
            </div>
        </div>

        <div class="mb-4 col">
            <div class="card h-100 card-homepage" >
                <div class="card-body">
                <h5 class="card-title-homepage">Why Should You Use This App</h5>
                Setting up a rice takes a lot of work. You need to install, copy the themes to their specific folders and if you find a rice you like it could be hard copying the file to the specific place if you're a noob in ricing. Wouldnt it be simple if you could just download one file which you can install on your system with one click without wasting your time copy pasting the several dotfiles. 
                </div>
            </div>
        </div>

        <div class="mb-4 col">
            <div class="card h-100 card-homepage" >
                <div class="card-body">
                <h5 class="card-title-homepage">Currently Working Features</h5>
                <ul>
                    <li>Save slot (slot refers to a folder that stores all the files related to the rice)</li>
                    <li>Load Slot</li>
                    <li>Delete Slot</li>
                    <li>List Available Slots</li>
                    <li>A working GUI made with pyqt5</li>
                    <li>Importing and exporting slots (Only works on specific desktop environments)</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    