<% layout('boilerplate.ejs') %>

<div class=" container mt-5">
    <h5 class="mb-2">Installing ThemeSaver is as simple as runing this one command in a terminal</h5>
    <div class="row code mb-5">
        <div class="col-11 d-flex justify-content-start align-items-center">
           <code class='overflow-auto' id='copyInstallText'>wget -qO- https://raw.githubusercontent.com/techcoder20/ThemeSaver/main/install.py | python3</code>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <button class="btn btn-copy" id='copyInstall'> <i class="bi bi-clipboard"></i> </button>
        </div>
    </div>

    <h5 class="mb-2 mt-5">To uninstall ThemeSaver you can use the built in uninstall script</h5>
    <div class="row code">
        <div class="col-11 d-flex justify-content-start align-items-center" >
           <code class='overflow-auto' id='copyUninstallText'>themesaver uninstall</code>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <button class="btn  btn-copy " id='copyUninstall'> <i class="bi bi-clipboard"></i> </button>
        </div>
    </div>
</div>

<script>
    var copyIds = ['copyInstall', 'copyUninstall']
</script>

<script src="/javascript/copy.js"></script>
