<% layout('boilerplate.ejs') %>

<div class='mx-auto my-auto container justify-content-center align-self-center'>
    <div class="row">
        <div class="col py-3">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/icons/ThemeSaverLogo.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <form action='/login', method='post'>
                            <div class='mb-3'>
                                <label for='username' class='form-label'>Username</label>
                                <input type='text' class='form-control' id='username', name='username'>
                            </div>
            
                            <div class='mb-3'>
                                <label for='password' class='form-label'>Password</label>
                                <input type='password' class='form-control' id='password' name='password'>
                            </div>
                            <button type='submit' class='btn btn-primary' style='background-color: #F78914; border: 2px solid #F78914;'>Login</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>