<% layout('boilerplate.ejs') %>

<div class="container mt-3 mb-3">
    <h1> Create A New Rice </h1>

    <form action="/newRice" method="post"  class='validate' novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Name your rice</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='name' required>
            <div class="invalid-feedback">
              Please Enter A Valid Rice Name. It Cannot Be Blank
          </div> 
          </div>

        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Desktop Environment</label>
            <select class="form-select" id='de' name='de' required>
              <option value="" disabled selected hidden>Select your Desktop Environment</option>
              <option value="kde">KDE Plasma</option>
              <option value="gnome">Gnome</option>
              <option value="xfce">Xfce</option>
              <option value="WM">Only WM</option>
            </select>
            <div class="invalid-feedback">
              Please Select One Of The Options. It Cannot Be Blank
            </div> 
          </div>

          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Window Manager</label>
            <select id="wm" class="form-select" name='wm' required>
              <option value="" disabled selected hidden>Select your Window Manager</option>
              <option value="xfwm4">Xfwm4 - Default For Xfce</option>
              <option value="kwin">Kwin - Default For Kde Plasma</option>
              <option value="mutter">Mutter - Default For Gnome</option>
              <option value="qtile">Qtile</option>
              <option value="awesome">Awesome</option>
              <option value="i3">i3</option>
            </select>
            <div class="invalid-feedback">
              Please Select One Of The Options. It Cannot Be Blank
            </div>             
          </div>        
          
          <div class="mb-3">
            <label for="shell" class="form-label">Shell</label>
            <select id="shell" class="form-select" name='shell' required>
              <option value="" disabled selected hidden>Select your shell</option>
              <option value="bash">Bash</option>
              <option value="zsh">Zsh</option>
              <option value="fish">Fish</option>
            </select>
            <div class="invalid-feedback">
              Please Select One Of The Options. It Cannot Be Blank
            </div> 
          </div>      

          <div class="mb-3">
            <label for="gtk" class="form-label">Gtk Theme</label>
            <input type="text" class="form-control" id="gtk" name='gtkTheme' required>
            <div class="invalid-feedback">
              Please Enter A Valid Name. It Cannot Be Blank
            </div>
          </div>
          
          <div class="mb-3">
            <label for="icons" class="form-label">Icon Theme</label>
            <input type="text" class="form-control" id="icons" name='iconTheme' required>
            <div class="invalid-feedback">
              Please Enter A Valid Name. It Cannot Be Blank
            </div>            
          </div>          
          
          <button class="btn btn-submit">Create Rice</button>
    </form>
</div>

<script src="/javascript/newrice.js"></script>
<script src="/javascript/validation.js"></script>