/* Setting Fonts */

@font-face {
    font-family: Cabin;
    src: url(/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(/fonts/Lobster_Two/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: MPLUSRounded1c;
    src: url(/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}

/* CSS Variables */

:root {
    --bg: #ffffff;
    --fg: #F78914;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg);
    font-family: 'Cabin', sans-serif;
}

/* Navbar */

.navbar {
    background-color: var(--fg);
    color: var(--text-color);
    font-family: 'MPLUSRounded1c', sans-serif;
}

.logo {
    font-family: 'Lobster', cursive;
}

#navbar-brand {
    color: var(--text-color);
}

#nav-link {
    color: var(--text-color);
}


.nav-link:hover {
    font-weight: bold;
}

/* Navbar User Menu Dropdown */

.dropdown-menu {
    background-color: var(--fg);
}

.dropdown-item {
    color: var(--text-color);
    font-weight: 200;
}

.dropdown-item:hover {
    color: var(--text-color);
    font-weight: bold;
    background-color: var(--fg);
}


/* Footer */

.custom-footer {
    background-color: var(--fg);
    color: var(--text-color)
}

.icons {
    color: var(--text-color);
    background-color: var(--fg);
    border: 0px solid var(--fg);
}
.icons:hover {
    color: var(--text-color);
}

/* About Page */

.aboutText {
    color: black;
    text-decoration: none;
    margin-top: 0.1em;
}

.card {
    padding: 15px;
    background-color: var(--fg);
    color: var(--text-color);
    border: 1px solid var(--bg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    transition: all .3s ease-in-out;
}

.card:hover {
    background-color: var(--fg);
    box-shadow: 0px 19px 43px rgba(0, 0, 0, 0.22);
    transform: translate3d(0px, -1px, 0px);
}

/* Code And Copy Button */

.code {
    background-color: var(--fg);
    padding: 0.5em;
    border: 2.5px solid var(--bg);
    border-radius: 25px;
}

code {
    color: var(--text-color);
}

.btn-copy {
    background-color: var(--fg);
    border: 0.1em solid;
    color: var(--text-color);
}

.btn-copy-success{
    background-color: white;
    border: 0.1em solid;
    color: green;
}

.btn-copy-success:hover{
    background-color: white;
    border: 0.1em solid;
    color: green;
}

.btn-copy:hover {
    background-color: white;
    color: var(--fg);
    border: 0.1em solid;

}

.btn:focus {
    box-shadow:0 0 0 0rem;
}

.btn-submit {
    background-color: var(--fg);
    color: var(--text-color);
    fill: var(--text-color);
    border: 0.5px solid var(--text-color);
    border-radius: 10em;
}

.btn-submit:hover {
    background-color: white;
    color: var(--fg);
    fill: var(--fg);;
    border: solid 0.5px var(--fg);
    border-radius: 10em;
}

.back-btn {
    color: var(--text-color);
}

.delete-btn {
    background-color: var(--fg);
    border: 2px solid var(--bg);
    border-radius: 15em;
    color: var(--text-color);
}

.delete-btn:hover {
    background-color: white;
    border-radius: 15em;
    color: var(--fg);
    border: solid 0.1px var(--fg);
}

.card-homepage {
    color: var(--text-color);
    font-size: 1em;
}

.card-title-homepage {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

.shopText {
    font-family: MPLUSRounded1c;
}

/* Modal */

.modal-header {
    background-color: var(--fg);
    color: var(--text-color);
}

.modal-body {
    background-color: var(--fg);
    color: var(--text-color); 
}

.btn-og {
    background-color: #F78914;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-dracula {
    background-color: #bd93f9;
    border: 1px solid #f8f8f2;
    color: #f8f8f2;
}

.btn-gruvbox {
    background-color: #d79921;
    border: 1px solid #fbf1c7;
    color: #fbf1c7;
}

.btn-nord {
    background-color: #88C0D0;
    border: 1px solid #D8DEE9;
    color: #D8DEE9;
}

.rice-details-header {
    color: var(--text-color);
    background-color: var(--fg);
    border: 00.2em solid var(--fg);
    border-radius: 10em;
}

.modal-header {
    border-bottom: 0px; 
    border: 5px solid var(--fg);
    /* border-radius: 10px; */
    /* background-color: var(--bg); */
}

.shop-screenshots {
    width: 100%;
    height: 27.5vh;
    object-fit: fill;
}